body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Poppins', sans-serif; 
	overflow-x: hidden;
    scroll-behavior: smooth;
}


footer {
    background-color: white;
    color: #832e2d; 
    padding: 20px 0;
	font-weight: bold;
    text-align: center;

}

.top-bar {
	display: flex;
    align-items: center;
    justify-content: flex-end;
    height:18vh;
    background-color: white;
    flex-direction: column;
    text-align: center;

}

.navigation {
	align-items: center;
    display: flex;
    justify-content: center;
    gap: 40px; 
}

.navigation a {
    text-decoration: none;
    color: #832e2d;
    font-weight: bold;
    font-size: 20px;
    transition: 0.3s; 
	white-space: nowrap;

}

.navigation a:hover {
    color: black;
}

.hamburger-menu {
    display: none;
    cursor: pointer;
	
}

.picture-text-group {
    position: absolute;
    top: 15%;
    left: 5%;
    z-index: 2; 
    color: white;
    max-width: 50%;
    text-align: left;
}



.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 1s ease-in-out;
    opacity: 0;
    z-index: 0; 
	position: absolute;
}


.slide.active {
    opacity: 1; /* Active state - visible */
}



.support-text {
    padding-bottom: 20px;
}

#navigation-logo {
    height: 100%;
    width: auto;
    max-height: 15vh;

}

#randomPictureContainer {
    position: relative;
    height: 100vh;
}

#randomPictureContainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1; 
	
}

/* Small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	
    #top-bar-logo {
        order: 1; /* Position logo on the left */
        width: 15vh; 
		height: auto;
        z-index: 11;
		margin-left: 20px;


    }

	
    .navigation {
        position: fixed;
        top: -20%;
        right: -100%; /* Start off-screen */
        height: 120%;
        width: 100%; /* Set to full width */
        background-color: white;
        flex-direction: column;
        transition: right 0.3s ease;
        z-index: 3;
    }
	
	
	
    /* Adjust hamburger menu styles */
    .hamburger-menu {
        order: 2; /* Position hamburger menu on the right */
        display: block;
        position: absolute;
        top: 45px;
        right: 30px; /* Adjust to place on the right */
        z-index: 10;
    }
    .navigation a {
        font-size: 22px; /* Adjust font size for mobile */
    }
	

	.picture-text-group {
        left: 2%;
        top: 25%;
        max-width: 96%; /* Adjust for smaller devices */
		padding-left: 10px;
		padding-right: 10px;
    }

    .top-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        height: 12vh; 
    }
	
	#navigation-logo {
		display: none;
	}
	
	#randomPictureContainer {
    position: relative;
    height: 80%;
	zoom: 80%;
	
	}

}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 601px) and (max-width: 834px) {
	
	.picture-text-group {
        left: 3%;
        top: 25%;
        max-width: 94%; 
    }
    .navigation {
        gap: 15px; 
    }

    .navigation a {
        font-size: 18px;
    }
	
	#top-bar-logo {
		height: 13vh;
		width: auto;
	}

	#navigation-logo {
		height: 13vh;
		width: auto;

	}




}



/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 769px) {
    /* You can add adjustments for larger screens if necessary */
	#top-bar-logo {
	display: none;
	}
	   .sponsors {
		gap: 80px;
    }
	
}