body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Poppins', sans-serif; /* Ensure fallbacks are defined */
	overflow-x: hidden; /* Prevent horizontal scroll */
    scroll-behavior: smooth; /* Enable smooth scrolling */
}



.top-bar {
	display: flex;
    align-items: center;
    justify-content: flex-end; /* Aligns items to the start of the container */
	
    height:18vh;
    background-color: white;
    flex-direction: column; /* Change from row (default) to column */
    text-align: center; /* Center the content horizontally */

}





.navigation {
	align-items: center;
    display: flex;
    justify-content: center;
    gap: 40px; 
}

.navigation a {
    text-decoration: none;
    color: #832e2d;
    font-weight: bold;
    font-size: 20px;
    transition: 0.3s; 
	white-space: nowrap; /* Prevents the text inside the anchor from breaking onto multiple lines */

}

.navigation a:hover {
    color: black;
}

#nav-logo-mobile {
    height: 100%;
    width: auto;
    max-height: 15vh; /* This matches the height of the .top-bar class which is the container */

}






.picture-text-group {
    position: absolute;
    top: 15%;
    left: 5%;
    z-index: 2; /* Higher than the overlay and the images */
    color: white;
    max-width: 50%;
    text-align: left;
}


.terrible-monkeys {
    font-size: 50px;
    margin: 0; /* Remove browser default margins */
}

.team-name {
    font-size: 30px;
    font-style: italic; /* Make the text italic */
    margin: 10px 0; /* Add some space between the texts */
}

.team-description {
    font-size: 20px;
    margin: 0; /* Remove browser default margins */
}


footer {
    background-color: white; /* Existing color */
    color: #832e2d; /* Make text color white */
    padding: 20px 0;
	font-weight: bold;
    text-align: center;
}


.support-text {
    padding-bottom: 20px; /* If you need space between this text and the images */
}

.sponsors {
    display: flex;
    justify-content: center; /* Align items to the center */
    gap: 50px; /* Larger gap between sponsor items */
	padding-top: 50px;
}

.sponsor-item {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the image and text vertically */
    text-align: center; /* Center the text horizontally */
}

.sponsor-item p {
    margin: 10px 0 0 0; /* Space above the text, no space below, to the left, or to the right */
}

.sponsors img {
    width: auto; 
    height: 50px; /* Adjust the height as necessary, the width will adjust automatically */
}


#randomPictureContainer {
    position: relative; /* Ensure this container is relative */
    height: 100vh; /* This height matches the picture-section height you've set previously */
}

#randomPictureContainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* You can change the level of darkness by adjusting this value */
    z-index: 1; /* Positioned above the image, but below the text */
	
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 1s ease-in-out;
    opacity: 0;
    z-index: 0; /* Below the overlay */
}


.slide.active {
    opacity: 1; /* Active state - visible */
}


/* Hamburger menu styles */
.hamburger-menu {
    display: none;
    cursor: pointer;
	
}


/* Small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	
    #nav-logo {
        order: 1; /* Position logo on the left */
        width: 15vh; /* Adjust logo size */
		height: auto;
        z-index: 11;
		margin-left: 20px;


    }
    /* Navigation menu styling */
    .navigation {
        /* Full width navigation with fixed positioning */
        position: fixed;
        top: 0;
        right: -100%; /* Start off-screen */
        height: 100%;
        width: 100%; /* Set to full width */
        background-color: white;
        flex-direction: column;
        transition: right 0.3s ease;
        z-index: 3;
    }
	
	
	
    /* Adjust hamburger menu styles */
    .hamburger-menu {
        order: 2; /* Position hamburger menu on the right */
        display: block;
        position: absolute;
        top: 45px;
        right: 30px; /* Adjust to place on the right */
        z-index: 10;
    }
    .navigation a {
        font-size: 22px; /* Adjust font size for mobile */
    }

	.picture-text-group {
        left: 2%;
        top: 25%;
        max-width: 96%; /* Adjust for smaller devices */
    }
    .terrible-monkeys {
        font-size: 30px; /* Adjust font size for better readability on small devices */
    }
    .team-name {
        font-size: 22px; /* Adjust font size for better readability on small devices */
    }
    .team-description {
        font-size: 16px; /* Adjust font size for better readability on small devices */
    }
    .top-bar {
        /* Ensure the .top-bar is using flexbox layout */
        display: flex;
        flex-direction: row; /* Aligns items in a row */
        justify-content: space-between; /* Positions the logo and menu on opposite ends */
        align-items: center; /* Align items vertically */
        padding: 10px; /* Add some padding */
        height: 12vh; /* Adjust height as needed */
    }
	
	#nav-logo-mobile {
		display: none;
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 601px) and (max-width: 769px) {
	
	.picture-text-group {
        left: 3%;
        top: 25%;
        max-width: 94%; /* Adjust for medium-sized devices */
    }
    .navigation {
        gap: 15px; /* Adjust gap */
    }

    .navigation a {
        font-size: 18px; /* Adjust font size */
    }
	
	#nav-logo {
		height: 10%;
		width: auto;
		max-height: 1vh; /* This matches the height of the .top-bar class which is the container */
	}

	#nav-logo-mobile {
		height: 10%;
		width: auto;
		max-height: 1vh; /* This matches the height of the .top-bar class which is the container */

	}




}



/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 769px) {
    /* You can add adjustments for larger screens if necessary */
	#nav-logo {
	display: none;
}
	
}