 body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}


footer {
    background-color: white;
    color: #832e2d;
    padding: 20px 0;
    font-weight: bold;
    text-align: center;

}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 12vh;
    background-color: white;
    flex-direction: column;
    text-align: center;
}

.navigation {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.navigation a {
    text-decoration: none;
    color: #832e2d;
    font-weight: bold;
    font-size: 20px;
    transition: 0.3s;
    white-space: nowrap;
}

.navigation a:hover {
    color: black;
}

.hamburger-menu {
    display: none;
    cursor: pointer;
}

.hamburger-menu i {
    font-size: 25px; /* Adjust this value to make the icon larger */
    cursor: pointer;
}

.picture-text-group {
    position: absolute;
    top: 15%;
    left: 5%;
    z-index: 2;
    color: white;
    max-width: 50%;
    text-align: left;
}



.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 1s ease-in-out;
    opacity: 0;
    z-index: 0;
    position: absolute;
}


.slide.active {
    opacity: 1;
    /* Active state - visible */
}


.terrible-monkeys {
    font-size: 50px;
    margin: 0;
}

.team-name {
    font-size: 30px;
    font-style: italic;
    margin: 10px 0;
}

.team-description {
    font-size: 20px;
    margin: 0;
}

.support-text {
    padding-bottom: 20px;
}

.sponsors {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.sponsor-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.sponsor-item p {
    margin: 10px 0 0 0;
}

.sponsors img {
    width: auto;
    height: 50px;
}


#navigation-logo {
    height: 50px;
    width: auto;
    /* max-height: 15vh; */
}

#randomPictureContainer {
    position: relative;
    height: 100vh;
}

#randomPictureContainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.practices {
    font-size: 70px;
}

.practices-text {
    background-color: white;
    color: #832e2d;
    /* This matches the color of the navigation links */
    font-size: 18px;
    /* This makes the text a bit larger, adjust the value as needed */
    padding-left: 20px;
    padding-right: 20px;
    /* This adds padding around the text */
    line-height: 1.6;
    /* This increases the space between lines/paragraphs, adjust the value as needed */
}

.contactsh1 {
    font-size: 70px;
}

.contacts-text {
    background-color: white;
    color: #832e2d;
    /* This matches the color of the navigation links */
    font-size: 18px;
    /* This makes the text a bit larger, adjust the value as needed */
    padding-left: 20px;
    padding-right: 20px;
    /* This adds padding around the text */
    line-height: 1.6;
    /* This increases the space between lines/paragraphs, adjust the value as needed */
}

.contacts-text a {
    color: #832e2d;
    /*8text-decoration: none;*/
}

.contacts-text a:hover {
    color: black;

}

/* Small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #top-bar-logo {
        order: 1;
        /* Position logo on the left */
        height: 50px; 
        width: auto;
        z-index: 11;
        margin-left: 20px;
    }


    .navigation {
        position: fixed;
        top: 10%;
        right: -100%;
        /* Start off-screen */
        height: 100%;
        width: 100%;
        /* Set to full width */
        background-color: white;
        flex-direction: column;
        transition: right 0.3s ease;
        z-index: 3;
    }

    /* Adjust hamburger menu styles */
    .hamburger-menu {
        order: 2;
        /* Adjust to place on the right */
        padding-right: 20px;
        display: block;
        z-index: 10;
    }

    .navigation a {
        font-size: 22px;
        /* Adjust font size for mobile */
    }

    .sponsors {
        align-items: center;

    }

    .sponsor-item img {
        height: 30px;
    }

    .picture-text-group {
        left: 2%;
        top: 25%;
        max-width: 96%;
        /* Adjust for smaller devices */
        padding-left: 10px;
        padding-right: 10px;
    }

    .terrible-monkeys {
        font-size: 30px;
    }

    .team-name {
        font-size: 22px;
    }

    .team-description {
        font-size: 20px;
    }

    .top-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        height: 50px;
    }

    #navigation-logo {
        height: 50px;
        display: none;
    }

    #randomPictureContainer {
        position: relative;
        height: 80%;
        zoom: 80%;

    }

}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 601px) and (max-width: 834px) {

    .picture-text-group {
        left: 3%;
        top: 25%;
        max-width: 94%;
    }

    .navigation {
        gap: 15px;
    }

    .navigation a {
        font-size: 18px;
    }

    #top-bar-logo {
        height: 50px;
        width: auto;
    }

    #navigation-logo {
        height: 50px;
        width: auto;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 769px) {

    /* You can add adjustments for larger screens if necessary */
    #top-bar-logo {
        display: none;
    }

    .sponsors {
        gap: 80px;
    }
    
    .practices-text {
        padding: 100px;
    }

    .contacts-text {
        padding: 100px;
    }
}