{% extends 'base.html' %}
{% block main %}
<script>
</script>
<div class="section picture-section" id="randomPictureContainer">
    <!-- Images will be inserted here by JavaScript -->
    <div class="picture-text-group">
        <p class="terrible-monkeys">Terrible Monkeys</p>
        <p class="team-name">Pražský Ultimate Frisbee tým</p>
        <p class="team-description">Jsme vícenásobní mistři ČR s třicetiletou historií. Hledáme spoluhráče a spoluhráčky, se kterými budeme dál růst.
		<a href="{{ url_for('practices') }}" class="white-bold-link">Přidej se k nám!</a></p>
    </div>
</div>
{% endblock %}
