{% extends 'base.html' %}
{% block main %}
<script>
window.images = [
    "{{ url_for('static', filename='media/main_page/cropped_win2.jpg') }}",
    "{{ url_for('static', filename='media/main_page/rozbeh.jpg') }}",
    "{{ url_for('static', filename='media/main_page/honza.jpg') }}",
    "{{ url_for('static', filename='media/main_page/misa.jpg') }}",
    "{{ url_for('static', filename='media/main_page/hala_mix.jpg') }}",
    // add more image paths as needed...
];
</script>
<div class="section picture-section" id="randomPictureContainer">
    <!-- Images will be inserted here by JavaScript -->
    <div class="picture-text-group">
        <p class="terrible-monkeys">Terrible Monkeys</p>
        <p class="team-name">Pražský Ultimate Frisbee tým</p>
        <p class="team-description">Jsme vícenásobní mistři ČR s třicetiletou historií a zastoupením v ženské, mužské, smíšené i juniorské divizi. Hledáme spoluhráče a spoluhráčky, se kterými budeme dál růst.</p>
    </div>
</div>
{% endblock %}
