{% extends 'base.html' %}
{% block main %}
<script>
window.images = [
	"{{ url_for('static', filename='media/contacts/anka.jpg') }}",
	"{{ url_for('static', filename='media/contacts/frana_pull.jpg') }}",
	"{{ url_for('static', filename='media/contacts/pepa_sky.jpg') }}",
];
</script>
<div class="section picture-section" id="randomPictureContainer">
	<!-- Images will be inserted here by JavaScript -->
	<div class="picture-text-group">
		<p class="contactsh1">Kontakt</p>
	</div>
</div>
	
<div class="contacts-text">
	<p>Před návštěvou prvního tréninku nám o sobě prosím dej vědět (třeba na mail <a href="mailto:" class="contact-social-icon">monkeys@email.cz</a>) a na cokoliv se doptej. Později se také můžeš zaregistrovat na <a href="monkeys.tymy.cz">portál týmy.cz</a>, kam si zapisujeme docházku na tréninky a turnaje.</p>
		<p>Naše socials:
		    <div class="contact-icons">
				<a href="https://www.instagram.com/terrible.monkeys" class="contact-social-icon"><i class="fab fa-instagram"></i></a>
				<a href="https://www.facebook.com/terriblemonkeys" class="contact-social-icon"><i class="fab fa-facebook-f"></i></a>
				<a href="mailto:monkeys@email.cz" class="contact-social-icon"><i class="fas fa-envelope"></i></a>
			</div>

		
		  Česká Asociace Frisbee (Čaufrisbee):
		  <ul>
		  
		  <li><a href="https://www.caufrisbee.cz/">ČAU Frisbee web</a></li>
		  <li><a href="https://www.instagram.com/caufrisbee/">ČAU Frisbee Instagram</a></li>
		  <li><a href="https://www.facebook.com/caufrisbee">ČAU Frisbee Facebook</a> </li>
		  <li><a href="https://www.youtube.com/@caufrisbee">YouTube kanál se streamovanými zápasy</a></li>
		  <li><a href="https://www.youtube.com/playlist?list=PLZi3br-bI1En7kGQGbNu11ysgir6g0ek1">Podcast Lítám v tom</a></li>
		  <li><a href="https://www.czechultimate.cz/dokumenty">Pravidla a další dokumenty</a></li>

		</ul>
		
		Další frisbee odkazy

		<ul>
		

		<li><a href="https://www.ultimo.cz/">Ultimo frisbee shop (podporuje nás)</a></li>
		<li><a href="https://www.ultimatefederation.eu/">European Ultimate Federation</a></li>
		<li><a href="https://wfdf.sport/">World Flying Disc Federation</a></li>
		<li><a href = "https://open.spotify.com/show/78NZslapSXn2rBbecszkly?si=1fc67cd975d74db9">Sajdlajna: Podcast o české Frisbee scéně</a></li>

		
		</ul>
	</p>
</div>
{% endblock %}