{% extends 'base.html' %}
{% block main %}

<div class="section picture-section" id="randomPictureContainer">
	<!-- Images will be inserted here by JavaScript -->
	<div class="picture-text-group">
		<p class="contactsh1">Kontakty</p>
	</div>
</div>
	
<div class="contacts-text">
	<p>Před návštěvou prvního tréninku nám můžeš napsat na instagram nebo na e-mail a na cokoliv se doptat. Později se také můžeš zaregistrovat na náš týmový portál, kde si zapisujeme docházku.</p>
		<p>
		<ul>
		  <li>E-mail: </li>
		  <li>Instagram: <a href="https://www.instagram.com/terrible.monkeys">https://www.instagram.com/terrible.monkeys</a></li>
		  <li>Facebook: <a href="https://www.facebook.com/terriblemonkeys">https://www.facebook.com/terriblemonkeys</a></li>
		  <li>Portál na docházku: <a href="monkeys.tymy.cz">monkeys.tymy.cz</a></li>
		</ul>
		
		  Česká Asociace Frisbee (Čaufrisbee):
		  <ul>
		  
		  <li>Web: <a href="https://www.caufrisbee.cz/">https://www.caufrisbee.cz/</a></li>
		  <li>Instagram: <a href="https://www.instagram.com/caufrisbee/">https://www.instagram.com/caufrisbee/ </a></li>
		  <li>Facebook: <a href="https://www.facebook.com/caufrisbee">https://www.facebook.com/caufrisbee </a> </li>
		  <li>YouTube se streamovanými zápasy a podcastem Lítám v tom: <a href="https://www.youtube.com/@caufrisbee">https://www.youtube.com/@caufrisbee</a></li>
		  <li>Pravidla: <a href="https://www.czechultimate.cz/dokumenty">https://www.czechultimate.cz/dokumenty</a></li>

		</ul>
		
		Další frisbee odkazy

		<ul>
		<li>Ultimo frisbee shop: <a href="https://www.ultimo.cz/">https://www.ultimo.cz/</a></li>
		<li>WFDF: <a href="https://wfdf.sport/">https://wfdf.sport/</a></li>
		<li>EUC: <a href="https://www.ultimatefederation.eu/">https://www.ultimatefederation.eu/</a></li>
		
		</ul>
	</p>
</div>
{% endblock %}