{% extends 'base.html' %}
{% block main %}

<div class="section picture-section" id="randomPictureContainer">
	<!-- Images will be inserted here by JavaScript -->
	<div class="picture-text-group">
		<p class="contactsh1">O týmu</p>
	</div>
</div>
	
<div class="team-text">
<h1>Historie týmu</h1>
	<p>Monkeys vznikly v roce 1993 na halovém turnaji Frisbeercup, kam si přišla skupinka, převážně studentů ČVUT, vyzkoušet, o čem to Ultimate vlastně doopravdy je. Něco o Frisbee už většina hráčů věděla z campu ČVUT v Temešváru, který se pořádal předchozí léto, ale tohle byl první opravdový turnaj, na který bylo nutné se pořádně připravit. A příprava se povedla na výbornou. Po krátkém rozházení se všichni začali věnovat důkladné teoretické přípravě v hospodě, ze které si odnesli strašlivou opici. Odtud také neoficiální vznik názvu týmu.
	</p>
	<p>Ten oficiální je spojen s plyšovou opicí, kterou dostal Andy od své slečny a kterou přitáhl na turnaj jako maskota. S ní pak Opice absolvovaly ještě několik dalších turnajů, než se někde zatoulala a už bohužel nenašla.
	</p>
	<p>TM se dlouhá léta pasovaly do role čistě openového týmu a snažily se soupeřit s nejsilnějšími protivníky z celé republiky i Evropy, ale už v jejich úplně první sestavě figurovala žena.
	Sestava byla tehdy následující: Dejf, BoBo, Marťák, Andy, DJRZ, Libčák a Erika.
	</p>

	<p>Následovaly další turnaje a přicházeli další hráči, až se z Opic stal tým, který v roce 2002 dokázal porazit všechny Open týmy na domácí i středoevropské scéně. V té době už se v Monkeys začalo zabydlovat také dostatek opičích samiček, takže se tým začal objevovat také v Mixed a později Ženské kategorii.
	</p>
	<p>A týmy pro všechny tři kategorie stavíme, jak v hale, tak venku, dodnes...
	</p>
	
	<h3>Další čtení</h3>
	
	<ul>
		  
		  <li><a href="http://m.frisbee.cz/clanky-o-pocatcich-terrible-monkeys-s-dejfem.html">Rozhovor s Dejfem o vzniku TM</a></li>
		  <li><a href="https://cloud.kminet.eu/index.php/s/3ZwFZBX9memnoaa">Skeny časopisu Past</a></li>
		  <li>TBD</li>

		</ul>
</div>
{% endblock %}