{% extends 'base.html' %}
{% block main %}
<script>
	window.images = [
		"{{ url_for('static', filename='media/practices/pisky_chad.jpg') }}",
		"{{ url_for('static', filename='media/practices/reznik_game_disc.jpg') }}",
		"{{ url_for('static', filename='media/practices/tym_radost.jpg') }}",
	];
</script>	
<div class="section picture-section" id="randomPictureContainer">
    <!-- Images will be inserted here by JavaScript -->
    <div class="picture-text-group">
        <p class="practices">Tréninky</p>
    </div>
</div>


<div class="practices-text">
	<p>Trénujeme dvakrát až třikrát týdně po celý rok - v zimě alespoň jednou týdně v hale.
	Na první trénink je možné přijít zcela nezávazně a bez větších zkušeností s Ultimate. Klidně nám o sobě můžeš dopředu napsat na e-mail nebo Instagram.
	Nováčkům všechno rádi ukážeme a pomůžeme se rozkoukat, důležitá je chuť se zlepšovat, radost ze hry a týmovost. Nevadí, že neumíš perfektně házet nebo chytat, a ani se s tím nepočítá.</p>

	<p>S sebou je vhodné si vzít:
		<ul>
		  <li>sportovní obuv: kopačky nebo turfy na ven, sálovky na dovnitř</li>
		  <li>tmavé a světlé triko</li>
		  <li>pití</li>
		</ul>
	</p>
	<div class="upcoming-practices">
		<h2>Nadcházející tréninky</h2>
		{% if practices %}
			{% for practice in practices %}
			<div class="practice-block">
				<h4>{{ practice.name }}</h4>
				<ul>
					<li>{{ practice.get_date() }} {{ practice.get_start() }} - {{ practice.get_end() }}</li>
					<li>místo: {{ practice.location }} (<a href="{{ practice.map_link }}">mapa</a>)</li>
				</ul>
			</div>
			{% endfor %}
		{% else %}
			<h4>Momentálně nejsou vypsané žádné tréninky.</h4>
		{% endif %}
	</div>
</div>

{% endblock %}