{% extends 'base.html' %}
{% block main %}
<div class="section picture-section" id="randomPictureContainer">
    <!-- Images will be inserted here by JavaScript -->
    <div class="picture-text-group">
        <p class="practices">Tréninky</p>
    </div>
</div>
<div class="practices-text">
    <h1>Přijď to zkusit!</h1>

    <p> Na první trénink můžeš přijít úplně nezávazně a bez větších zkušeností s Ultimate. Ideálně nám o sobě dopředu
        napiš na Instagram, e-mail nebo Facebook.</p>
    <p>Trénujeme dvakrát až třikrát týdně po celý rok - v zimě alespoň jednou týdně v hale.
        Nováčkům všechno rádi ukážeme a pomůžeme se rozkoukat, důležitá je chuť se zlepšovat, radost ze hry a týmovost.
        Nevadí, že neumíš perfektně házet nebo chytat, a ani se s tím nepočítá.</p>

    <p>S sebou si vezmi:</p>
    <ul>
        <li>sportovní obuv: kopačky nebo turfy ven, sálovky dovnitř</li>
        <li>černé a bílé triko</li>
        <li>pití</li>
        <li>disk, pokud máš</li>
    </ul>
</div>
<div class="trejn-description practices-text">
	<h2>Co od tréninku očekávat</h2>
	<p> Tréninky trvají 90 - 120 minut. Přesná podoba tréninku závisí na tom, jestli se koná v průběhu sezóny, nebo v
		off-seasonu na podzim a v zimě. Většinou ale platí, že trénink začíná rozběháním (nebo jinou warm-up aktivitou),
		individuálním stretchingem a mobilizací a společnou atletickou abecedou.</p>

	<p>Poté většinou jdeme drillovat, učíme se jednotlivým herním situacím a věnujeme se taktické přípravě. Často také
		hrajeme mini games v menších týmech (3v3, 4v4, 5v5), u kterých se každý hodněkrát dotkne disku.

		Na závěr zpravidla hrajeme 30 - 45 minut regulerní hru na velkém hřišti a v týmech o 7 lidech.</p>
</div>

<div class="upcoming-practices practices-text">
    <h2>Nadcházející tréninky</h2>
    {% if practices %}
    {% for practice in practices %}
    <div class="practice-block">
        <h4>{{ practice.name }}</h4>
        <ul>
            <li>{{ practice.get_date() }} {{ practice.get_start() }} - {{ practice.get_end() }}</li>
            <li>místo: {{ practice.location }}</li>
        </ul>
    </div>
    {% endfor %}
    {% else %}
    <h4>Momentálně nejsou vypsané žádné tréninky.</h4>
    {% endif %}
</div>

{% endblock %}