{% extends 'base.html' %}
{% block main %}
<script>
	window.images = [
		"{{ url_for('static', filename='media/about_frisbee/cego_full.jpg') }}",
		"{{ url_for('static', filename='media/about_frisbee/anka_full.jpg') }}",
		"{{ url_for('static', filename='media/about_frisbee/mixed_win.jpg') }}",
	];
</script>
	
<div class="section picture-section" id="randomPictureContainer">
	<!-- Images will be inserted here by JavaScript -->
	<div class="picture-text-group">
		<p class="ultimate">Ultimate Frisbee</p>
	</div>
</div>
	
<div class="ultimate-text">
	<p>
MAKÁM <br>
A HRAJU FÉR <br>
</p>

<p>

Frisbee je relativně mladej sport, o kterým se ještě tolik neví. Je rychlý, dynamický, bezkontaktní, kamarádský, pro všechny věkový kategorie i atletický úrovně a svoje místo si v něm najde opravdu každej. Jeho hlavní myšlenkou je fair-play.
</p>
<p>
Frisbee se hraje v týmu v sedmi lidech. Hřiště má tvar obdélníku ohraničenýho lajnami a na koncích má takzvaný zóny, každý tým začíná v jedné z nich a pomocí přihrávek se snaží dostat a chytit disk v té druhé. Bod končí tak, že jeden z týmů zaskóruje (chytí disk v opačný zóně). Hra končí buď koncem časového limitu nebo dosažením patnácti bodů.
</p>
<p>
 

Hrajeme ve třech kategoriích - ženy, muži a také smíšeně v kategorii mix. Jsme největší sport, který se mixově hraje a taky máme z mixu několik medailí z Mistrovství Evropy. 

</p>
<p>

Jedna věc nás hodně odlišuje od ostatních a taky si na tom dost zakládáme - hrajeme totiž bez rozhodčích! Hráči mají odpovědnost za chování na hrišti ve svých rukou a veškeré sporné situaci si řeší sami mezi sebou. A funguje to, i třeba na velkých turnajích jako je Mistrovství světa. Hrát fér je pro nás důležitý.
</p>
<p>
CÍL HRY<br>
Cílem hry je dostat disk pomocí přihrávek do koncové zóny soupeře. Pokud se ti podaří hodit disk na spoluhráče, který je v zóně, a on ho chytí, tak jste dali bod. Tým s vyšším počtem bodů vyhrává. Hru můžete omezit časově, tzn. kdo bude mít po uplynutí dohodnutého času více bodů, vyhrává. Nebo ji lze omezit počtem bodů, tzn. kdo určeného počtu dosáhne jako první, vyhrává.
</p>
BEZKONTAKTNĚ<br>
Frisbee je bezkontaktní sport, což znamená, že do sebe na hřišti nestrkáme, záměrně se nefaulujeme a snažíme se nepřekážet si navzájem. Myšlenka Spirit of the Game nám velí hrát disk, ne sundat protihráče. Házeč (hráč s diskem) dostává od svého obránce určitý prostor pro manipulaci s diskem a zároveň mu obránce disk nesmí brát či vytrhávat z ruky.
</p>

<p>
ROZHODČÍ JSI TY<br>
Frisbee je unikátní tím, že ani při nejdůležitějších mezinárodních utkání není přítomen rozhodčí. Při jakékoliv sporné situaci je na hráčích, kterých se to týká, aby se dohodli na řešení přijatelném pro obě strany. Pokud k nějaké takovéhle situaci dojde, hra se zastaví a hráči se domluví, jak budou postupovat (může to být třeba vrácení disku o přihrávku zpět nebo pokračování ve hře).

</p>
<p>

CO MŮŽU S DISKEM <br>
S diskem se neběhá ani nechodí, nahrávat můžeš spoluhráčům jakýmkoliv směrem. Na odhození disku máš ale omezený čas, na kterém je třeba se domluvit ještě před zahájením hry. Standardní časový limit je deset vteřin pro velké hřiště. Můžete si ale vymyslet jakýkoliv jiný časový limit. Pokud hráči s diskem vyprší čas, položí disk na zem a ze stejného místa začne hrát soupeř. Hráči, kteří nemají disk v ruce, se mohou po hřišti pohybovat libovolně.
</p>

<p>
KDY SE ÚTOČÍ A BRÁNÍ<br>
Na začátku se losem rozhodne, který tým začíná s útokem a který s obranou. Útočící tým se snaží dát bod, bránící tým mu v tom chce zabránit a získat disk pro sebe. Pokud se mu to povede, role se obrací (původně útočící tým brání). O disk můžeš přijít takto: upustíš disk při chytu, hodíš ho na zem, hodíš ho do autu, chytneš ho v autu, disk během jeho letu chytne soupeř nebo ho srazí na zem, nestihneš odhodit disk v časovém limitu.
	</p>
<p> Text převzat z webu Čau Frisbee. </p>

</div>
{% endblock %}